modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[workflows]

[[workflows.workflow]]
name = "Development Server"
author = 38270576
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
