modules = ["nodejs-20"]
run = "npm exec -y serve -- -s build"  

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 38270576
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "HOST=0.0.0.0 PORT=5000 npm start"
